.fade-out {
	animation: fadeOut 0.5s;
  	opacity: 0;
}

@keyframes fadeOut {
  from {
  	opacity: 1;
  }
  to {
 	opacity: 0;
  }
}


.fade-in {
	animation: fadeIn 0.5s;
  	opacity: 1;
}

@keyframes fadeIn {
  from {
  	opacity: 0;
  }
  to {
 	opacity: 1;
  }
}


@keyframes rotateIn {
    0% {
       transform-origin: center center;
       transform: rotate(-400deg);
    }
    100% {
       transform-origin: center center;
       transform: rotate(0);
    } 
 } 



 .rotate-in {
	animation: rotateIn 0.5s forwards;
}


@keyframes rotateOut {
   0% {
      transform-origin: center center;
      transform: rotate(0);
   }
   100% {
      transform-origin: center center;
      transform: rotate(-180deg);
   } 
} 



.rotate-out {
  animation: rotateOut 0.5s forwards;
}


@keyframes slideIn {
    0% {
        left: -786px;
    }
    100% {
       left: 0px;
    } 
 } 

 .slide-in
 {
    animation: slideIn 0.5s;
 }


 @keyframes borderAnimation {
    0% {
        width: 0px;
    }
    100% {
        width: 20px;
    } 
 } 
  

 @keyframes scrollAnimation {
   0% {
       width: 35px;
       border-top-width: 2px;
       margin-top: 50px;
   }
   100% {
      min-width: 62px ; 
      border-top-width: 4px;
      margin-bottom: 50px ;
      margin-top: 0px;
   } 
} 

 .scroll-animation {
	animation: scrollAnimation 1s forwards;
}


 @keyframes slidedown {
   0% {
       top: -786px;
   }
   100% {
      top: 0px;
   } 
}

@keyframes slideup {
   0% {
       bottom: -786px;
   }
   100% {
      bottom: 0px;
   } 
}
